/* Base Font Size */
body {
    font-size: 16px;
}

/* Derivation Sections */
.derivation-section,
.single-derivation-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.single-derivation-container,.derivation-section {
    background-color: #f9f9f9; /* Light gray background */
    border: 1px solid #ddd;    /* Light gray border */
    border-radius: 5px;        /* Rounded corners */
    padding: 20px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


/* Main Headings */
.derivation-section .main-heading,
.single-derivation-container .main-heading {
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

/* Introductory Paragraphs */
.derivation-section .intro-paragraph,
.single-derivation-section .intro-paragraph {
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px;
}

/* Ordered Lists */
.derivation-section ol.numbered-list,
.single-derivation-section ol.numbered-list {
    margin-left: 20px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.6;
    /* Remove counter-reset if not using custom counters */
}

/* List Items */
.derivation-section li.list-item,
.single-derivation-section li.list-item {
    margin: 10px 0; /* Combines top and bottom margins */
    padding-left: 5px;
    font-weight: 500;
    color: #555;
    position: relative;
}

/* Derived Math Formulas */
.derived-math-formula {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

/* Derivation Stat Container */
.derivation-stat-container {
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
    margin-top: 20px;
}

/* Text Elements in Stat Container */
.derivation-stat-container p,
.derivation-stat-container span,
.derivation-stat-container h2 {
    font-size: 1rem;
}
