{% extends "base.html" %}

{% block content %}
<!-- Main Container -->
<div class="gen-container">
    
    <!-- Title and Subheading Section -->
    <div class="gen-info-container">
        <div class="gen-title-container">
            <h1 class="gen-title">Visual Extract</h1>
            <h2 class="gen-subheading">Upload your images below to generate personalized modules instantly.</h2>
        </div>
        
        <!-- Description and Example Section -->
        <div class="example-section">
            <p class="gen-description mb-3 text-center">
                This advanced module generator processes images or PDFs containing both problem statements and corresponding solutions. Upload files in JPEG, PNG, or PDF format to generate personalized educational modules. Here are some example types of content you can upload:
            </p>
            <ul class="list-group list-group-flush p-3">
                <li class="list-group-item">Textbook solutions: Officially published problems and solutions ensure high accuracy.</li>
                <li class="list-group-item">Handwritten solutions: Personal notes or handwritten solutions will be effectively processed.</li>
                <li class="list-group-item">Lecture materials: Slides or instructional content from lectures can be used to create modules.</li>
            </ul>
        </div>
    </div>

    <!-- Form Section -->
    <form method="POST" action="{{ url_for('image_generator_bp.generate_image') }}" class="p-4" enctype="multipart/form-data">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.files(class="form-control") }}
        </div>
        <div class="form-group mt-3 mb-3">
            {{ form.submit(class="btn btn-primary mt-3 mb-3") }}
        </div>
       
    </form>
</div>
{% endblock %}
