{% extends "base.html" %}
{% block content %}
<div class="gen-container">
    <div class="gen-info-container">
        <div class="gen-title-container">
            <h1 class="gen-title">QuickQuery</h1>
            <h2 class="gen-subheading">Input a question below to automatically generate a question module.</h2>
            
        </div>
        
        <div class="example-section">
            <h3 class="gen-example-text text-center">Try the following questions</h3>
            <ul class="list-group  mx-5">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Question 1</div>
                        <p>A ball is thrown horizontally from the top of a 50-meter high building with an initial speed
                            of 15 meters per second. Assuming there is no air resistance, calculate the time it takes for the ball to reach the ground.</p>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Question 2</div>
                        A mass-spring system oscillates with a period of 2 seconds. If the spring constant is 100 N/m, calculate the mass attached to the spring. Assume the motion is simple harmonic.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Question 3:</div>
                        A force of 200 Newtons is applied perpendicular to a circular cross-sectional area with a radius of 0.1 meters. Calculate the pressure exerted on the area.
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <form method="POST" id="form" action="{{ url_for('text_generator_bp.generate_text') }}">
        <div class="form-group">
            {{ form.hidden_tag() }}

            <div class="form-group mt-4 mb-4">
                <label for="module_name">Module Name</label>
                {{ form.module_name(class="form-control", placeholder="Enter Module Name") }}
            </div>

            <div class="form-group mt-4 mb-4">
                <label for="question">Question to Generate</label>
                {{ form.question(class="form-control", placeholder="Enter Question") }}
            </div>

            <div class="form-group mt-3 mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>
<div id="loadingSpinner" class="d-none text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">...Processing</span>
    </div>
    <p>Please wait while we process your request...</p>
</div>
<script>
    document.getElementById("form").addEventListener("submit", function() {
        // Show the loading spinner
        document.getElementById("loadingSpinner").classList.remove("d-none");
        
        // Disable the submit button to prevent multiple submissions
        const submitButton = document.getElementById('submitButton');
        submitButton.disabled = true;
        
        // Optionally change the button text to indicate processing
        submitButton.innerHTML = 'Processing...';
    });
</script>


{% endblock %}