{% extends "base.html" %} 
{% block content %}


<div class="container border border-primary rounded mt-4 bg-light">
    <!-- Flash Messages Section -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <!-- Content Section -->
    <div class="text-center p-4">
        <!-- Title Section -->
        <div class="mb-4">
            <h1>Generate from Image</h1>
            <h5 class="text-muted">Upload your images below to generate personalized modules instantly.</h5>
        </div>

        <!-- Example Questions Section -->
        <div class="example-questions">
            <p class="mb-3">
                This advanced module generator allows you to upload images or PDFs that contain both the problem statement and its corresponding solution. These files will be processed to generate personalized educational modules. Currently, the generator accepts PDF files, as well as images in JPEG and PNG formats. Below are some examples of the types of content you can upload:
            </p>
            <ul class="list-group list-group-flush p-3">
                <li class="list-group-item">Textbook solutions: These provide officially published problems and solutions, ensuring high accuracy.</li>
                <li class="list-group-item">Handwritten solutions: Personal notes or solutions written by hand are also accepted and will be processed effectively.</li>
                <li class="list-group-item">Lecture materials: Slides or other instructional content presented during lectures can be used to create modules.</li>
            </ul>
        </div>

    <!-- Form Section -->
    <form method="POST" action="{{ url_for('image_generator_bp.generate_image') }}" class="p-4" enctype="multipart/form-data">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.files(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary mt-3 mb-3") }}
    </form>
</div>
{% endblock %}