{% extends "base.html" %}

{% block content %}
<!-- Main Container -->
<div class="gen-container">

    <!-- Title and Subheading Section -->
    <div class="gen-info-container">
        <div class="gen-title-container">
            <h1 class="gen-title">LectureInsight</h1>
            <h2 class="gen-subheading">Upload your lecture notes or materials to generate comprehensive educational modules.</h2>
        </div>

        <!-- Description and Example Section -->
        <div class="example-section">
            <p class="gen-description mb-3 text-center">
                The LectureInsight Generator processes lecture materials, including images, PDFs, and handwritten notes, to create fully detailed educational modules. It extracts key concepts, summaries, derivations, and questions from your lecture content. Below are examples of the types of materials you can upload:
            </p>
            <ul class="list-group list-group-flush p-3">
                <li class="list-group-item">Lecture slides: Upload presentation slides to extract summaries, key concepts, and questions.</li>
                <li class="list-group-item">Handwritten notes: Personal handwritten notes will be processed to create structured modules, including conceptual and computational questions.</li>
                <li class="list-group-item">PDF lecture documents: Detailed lecture materials in PDF format can be used to generate comprehensive content with derivations and step-by-step guides.</li>
            </ul>
        </div>
    </div>

    <!-- Form Section -->
    <form method="POST" id="form" action="{{ url_for('lecture_generator_bp.generate_lecture') }}" class="p-4" enctype="multipart/form-data">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.files(class="form-control") }}
        </div>
        <div class="form-group mt-3 mb-3">
            {{ form.submit(class="btn btn-primary mt-3 mb-3", id="submitButton") }}
        </div>
    </form>

    <div id="loadingSpinner" class="d-none text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">...Processing</span>
        </div>
        <p>Please wait while we process your request...</p>
    </div>
    <script>
        document.getElementById("form").addEventListener("submit", function() {
            // Show the loading spinner
            document.getElementById("loadingSpinner").classList.remove("d-none");
            
            // Disable the submit button to prevent multiple submissions
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = true;
            
            // Optionally change the button text to indicate processing
            submitButton.innerHTML = 'Processing...';
        });
    </script>
</div>
{% endblock %}
