{% extends "base.html" %}
{% block hero %}
<section id="hero-section" class="p-5">
    <div class="container text-center mt-3">
        <h1 class="main-heading">Gestalt Generator</h1>
        <p class="subheading">Empowering Educators with AI-Powered STEM Content Creation</p>
        <a href="{{ url_for('routes.home') }}#generators-section" class="cta-button">Get Started</a>
    </div>
</section>
{% endblock %}
{% block content %}


<section id="generators-section" class="generators-section">
    <div class="container text-container">
        <h2>Our Generators</h2>
        <hr class="divider div-dark d-flex">
    </div>
    <div class="generators-container">
        <div class="generator-card">
            <div class="text-container">
                <h3 class="text-center">QuickQuery Generator</h3>
                <hr class="divider">
            </div>
            <p class="text-center ital">Instantly transform individual text-based questions into comprehensive modules.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Best For:</strong> Fast, single-question processing.</li>
                <li class="list-group-item"><strong>Input:</strong> Text-based questions.</li>
                <li class="list-group-item"><strong>Output:</strong> Complete modules with all necessary content.</li>
            </ul>
            <a href="{{ url_for('text_generator_bp.generate_text') }}" class="btn btn-primary ">Try QuickQuery</a>
        </div>


        <!-- VisualExtract Generator -->
        <div class="generator-card">
            <div class="text-container">
                <h3 class="text-center">VisualExtract Generator</h3>
                <hr class="divider">
            </div>
            <p class="text-center ital">Extract and process multiple questions from images or PDFs.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Best For:</strong> Handwritten notes, scanned documents, textbook
                    solutions.</li>
                <li class="list-group-item"><strong>Input:</strong> Images and PDFs.</li>
                <li class="list-group-item"><strong>Output:</strong> Individual modules for each extracted question.
                </li>
            </ul>
            <a href="{{ url_for('image_generator_bp.generate_image') }}" class="btn btn-primary ">Try VisualExtract</a>
        </div>

        <div class="generator-card">
            <div class="text-container">
                <h3 class="text-center">LectureInsight Generator</h3>
                <hr class="divider">
            </div>
            <p class="text-center ital">Unlock insights from your lecture materials and generate comprehensive modules.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Best For:</strong> Summarizing lectures, extracting key concepts,
                    and creating a suite of modules.</li>
                <li class="list-group-item"><strong>Input:</strong> Lecture notes, multiple documents, PDFs.</li>
                <li class="list-group-item"><strong>Output:</strong> Summaries, key concepts, and modules for each
                    extracted question.</li>
            </ul>
            <a href="{{ url_for('lecture_generator_bp.generate_lecture') }}" class="btn btn-primary">Try
                LectureInsight</a>
        </div>
    </div>
</section>
<section id="how-it-works" class="p-5">
    <div class="container text-center mb-5">
        <h2>How it Works</h2>
    </div>

    <div class="container step-container">
        <div class="card step-by-step-item">
            <div class="circle">
                <h5 class="num-step">1</h5>
            </div>
            <div class="card-body step-by-step-body">
                <h5 class="card-title">Input Your Content</h5>
                <hr class="divider div-dark">
                <p class="card-text">Enter a question, or upload images or PDFs of your content.</p>
            </div>
        </div>
        <div class="card step-by-step-item">
            <div class="circle">
                <h5 class="num-step">2</h5>
            </div>
            <div class="card-body step-by-step-body">
                <h5 class="card-title">Select a Generator</h5>
                <hr class="divider div-dark">
                <p class="card-text">Choose from the QuickQuery Generator, VisualExtract Generator, or LectureInsight
                    Generator based on your needs.</p>
            </div>
        </div>
        <div class="card step-by-step-item">
            <div class="circle">
                <h5 class="num-step">3</h5>
            </div>

            <div class="card-body step-by-step-body">
                <h5 class="card-title">Generate Modules</h5>
                <hr class="divider div-dark">
                <p class="card-text">Click "Generate" to create your customized modules.</p>
            </div>
        </div>
        <div class="card step-by-step-item">
            <div class="circle">
                <h5 class="num-step">4</h5>
            </div>

            <div class="card-body step-by-step-body">
                <h5 class="card-title">Review & Customize</h5>
                <hr class="divider div-dark">
                <p class="card-text">Manually test the content, make adjustments, and download your files.</p>
            </div>
        </div>

    </div>

</section>

<section id="key-features" class="p-5">
    <div class="container text-center mb-5">
        <h2 class="section-heading">Key Features</h2>
        <hr class="divider div-dark">
    </div>
    <div class="container key-feature-container my-2">
        <div class="card m-2 key-feature-item">
            <div class="card-body key-feature-body">
                <div class="text-container">
                    <h5 class="card-title feature-title">Adaptive Content Generation</h5>
                    <hr class="divider">
                </div>
                <p class="card-text feature-text">Quickly generate tailored modules from text, images, or PDFs.</p>
            </div>
        </div>
        <div class="card m-2 key-feature-item">
            <div class="card-body key-feature-body">
                <div class="text-container">
                    <h5 class="card-title feature-title">Multi-Question Extraction</h5>
                    <hr class="divider">
                </div>
                <p class="card-text feature-text">Extract multiple questions from a single input and generate individual
                    modules for each.</p>
            </div>
        </div>
        <div class="card m-2 key-feature-item">
            <div class="card-body key-feature-body">
                <div class="text-container">
                    <h5 class="card-title feature-title">Code-Enhanced AI Generation</h5>
                    <hr class="divider">
                </div>
                <p class="card-text feature-text">Leverage Retrieval-Augmented Generation (RAG) to search relevant code
                    documentation, enhancing module quality and overcoming traditional training data limitations.</p>
            </div>
        </div>
        <div class="card m-2 key-feature-item">
            <div class="card-body key-feature-body">
                <div class="text-container">
                    <h5 class="card-title feature-title">Comprehensive Output</h5>
                    <hr class="divider">
                </div>
                <p class="card-text feature-text">Generate JavaScript, Python, and HTML files for computational
                    questions and step-by-step solution guides.</p>
            </div>
        </div>
        <div class="card m-2 key-feature-item">
            <div class="card-body key-feature-body">
                <div class="text-container">
                    <h5 class="card-title feature-title">Customization & Review</h5>
                    <hr class="divider">
                </div>
                <p class="card-text feature-text">Manually test, tweak, and adjust outputs for precision and
                    personalization.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}