{% extends "base.html" %}

{% block content %}
<!-- Form Section -->
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Login</h2>
            <form method="POST" action="{{ url_for('auth.login') }}" class="p-4 shadow-sm rounded bg-light" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="form-group mb-3">
                    <label for="email">Email address</label>
                    {{ form.email(class="form-control", placeholder="Enter your email") }}
                </div>

                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    {{ form.password(class="form-control", placeholder="Enter your password") }}
                </div>

                <div class="form-check mb-3">
                    {{ form.remember_me(class="form-check-input") }}
                    <label class="form-check-label" for="remember_me">Remember Me</label>
                </div>

                <div class="d-grid">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
