{% extends "base.html" %}
{% block content %}
<div class="table-container">
    <h1 class="text-center">All Modules</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </tr>
        </thead>

        <tbody>
            {% for module in modules %}
            <tr>
                <td>{{ module.id }}</td>
                <td><a
                        href="{{ url_for('module_retrieval_bp.view_module_details',module_name= module.name, module_id = module.id) }}">{{
                        module.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}